<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <title>
            YumBook! -
            {% block title_block %}

            {% endblock %}
        </title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block extra_file_block %}

        {% endblock %}
    </head>

    <body>
    <div class="container">
            <div class="nav-base">

                <div class="yum-img">
                    <img src="{% static 'images/yum-removebg.png' %}" alt="website icon"
                         style="width: 45%; height:45%;">
                </div>
                <ul class="nav-bar-items">
                    <li style="width:100px;"><a href="{% url 'yum:index' %}">Hall</a></li>

                    {% if user.is_authenticated %}
                        <li style="width:100px;"><a href="{% url 'yum:add_recipe' %}">Post</a></li>
                        <li style="width:100px;"><a href="{% url 'yum:profile' user_id=user.id %}">My Info</a></li>
                    {% else %}
                        <li style="width:100px;"><a href="{% url 'yum:login' %}">Post</a></li>
                        <li style="width:100px;"><a href="{% url 'yum:login' %}">My Info</a></li>
                    {% endif %}
                </ul>
                <div class="user">
                    {% if user.is_authenticated %}
                        <span>{{ user.username }}, welcome!</span>
                        <a href="{% url 'yum:logout' %}">logout</a>
                    {% else %}
                        <a href="{% url 'yum:login' %}">Please log in</a>
                    {% endif %}
                </div>

            </div>

            <div class="content-body">
                {% block body_block %}
                {% endblock %}
                <div id="page-foot-base">
                    <div style="height:50px;"></div>
                    <ul class="footer-links" style="">
                        <li><a href="{% url 'yum:about' %}">About</a></li>
                        <li><a href="{% url 'yum:contact' %}">Contact</a></li>
                        <li><a href="{% url 'yum:privacy' %}">Privacy</a></li>
                    </ul>
                </div>
            </div>
    </div>
    </body>
</html>