{% extends 'yum/base.html' %}
{% load static %}


{% block title_block %}
    Contact
{% endblock %}


{% block body_block %}
    <h1>Contact Us</h1>
    <p>
      If you have any questions, suggestions, or need assistance, please feel free to contact us.
      Our friendly support team is here to help.
    </p>
    <p>
      You can reach us via email at <a href="mailto:support@yumbook.com">support@yumbook.com</a>
      or call us at <strong>(123) 456-7890</strong>.
    </p>
    <p>
      We appreciate your feedback and look forward to hearing from you!
    </p>
{% endblock %}
