{% extends 'yum/base.html' %}
{% load static %}


{% block title_block %}
    Recipe Detail
{% endblock %}

{% block extra_file_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <script type="text/javascript" src="{% static 'js/detail.js' %}"></script>
{% endblock %}

{% block body_block %}

    <h1 class="title">{{ recipe.title }}</h1>

    <div class="recipe-meta">
        <p class="author"><strong>Created by</strong> {{ recipe.author.username }}</p>
        <p class="timestamp">{{ formatted_time }}</p>
    </div>

    <div class="recipe-info">
        <p><strong>Cuisine: </strong>
            {% for c in recipe.cuisine.all %}
                {{ c.name }}{% if not forloop.last %} · {% endif %}
            {% endfor %}
        </p>
        <p><strong>Meal Type: </strong>
            {% for m in recipe.meal_type.all %}
                {{ m.name }}{% if not forloop.last %} · {% endif %}
            {% endfor %}
        </p>
        <p><strong>Ingredients: </strong>{{ recipe.ingredients }}</p>
        <p><strong>Description & Steps: </strong></p>
        <p>{{ recipe.description }}</p>

        <div class="recipe-images">
            {% for img in recipe.images.all %}
                <img src="{{ img.image.url }}" alt="Recipe Image" class="preview-image"
                onclick="openModal('{{ img.image.url }}')">
            {% empty %}
                <img src="{% static 'images/default.jpg' %}" alt="Default Image">
            {% endfor %}
        </div>

        <div id="imageModal" class="modal" onclick="closeModal()">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="modalImg" alt="zoom in">
        </div>
    </div>

    <hr>

    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <form method="post" class="comment-form">
            {% csrf_token %}
            {{ comment_form.text }}
            <button type="submit">Post Comment</button>
        </form>
    {% else %}
        <p><a href="{% url 'yum:login' %}">Log in</a> to comment.</p>
    {% endif %}

    <hr>

    <ul class="comment-list">
        {% for comment in comments %}
            <li class="comment-item">
                <div class="comment-meta">
                    <p class="comment-author"><strong>{{ comment.author.username }}</strong></p>
                    <p class="comment-time">{{ comment.created_at|date:"Y-m-d H:i" }}</p>
                </div>
                <p class="comment-text">{{ comment.text }}</p>
                <hr>
            </li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
