{% extends 'yum/base.html' %}
{% load static %}


{% block title_block %}
    Privacy Policy
{% endblock %}

{% block extra_file_block %}

{% endblock %}

{% block body_block %}
    <h1>Privacy Policy</h1>
    <p>
      At YumBook, your privacy is our priority. We are committed to protecting your personal information and
      being transparent about how we use it.
    </p>
    <p>
      When you register on our site or submit content, we collect certain information (such as your email address)
      to provide a better user experience. This information is used solely for improving our services and is never
      shared with third parties without your consent, except as required by law.
    </p>
    <p>
      By using YumBook, you agree to our Privacy Policy. If you have any questions or concerns about how we handle your data,
      please contact us at <a href="mailto:privacy@yumbook.com">privacy@yumbook.com</a>.
    </p>
{% endblock %}
