.recipe-form-container {
    width: auto;
    margin: 0 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.title-label {
    flex: 1;

}

.title-input {
    flex: 9;
    padding-right: 20px;
}

.title-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.cuisine-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.cuisine-btn {
    padding: 8px 12px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.cuisine-btn:hover {
    background-color: #e2e6ea;
}


.meal-container {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.meal-btn {
    padding: 8px 12px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.meal-btn:hover {
    background-color: #e2e6ea;
}


.input-wrapper {
    width: 100%;
}

.recipe-form textarea[name="ingredients"] {
    margin: 20px 0;
    width: 100%;
    height: 50px;
}

.recipe-form textarea[name="description"] {
    width: 100%;
    min-height: 200px;
    margin: 20px 0;

}


.upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
}


.submit-btn, .cancel-btn {
    width: 100%;
    padding: 10px 20px;
    height: 44px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    display: block;
    margin-top: 10px;
    line-height: 1.5;
}

.submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #218838;
}


.cancel-btn {
    background-color: #dc3545;
    color: white;
    border: none;
}

.cancel-btn:hover {
    background-color: #c82333;
}

.form-group {
    margin: 30px 0;
}
