.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.post-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 0;
    height: 160px;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    margin-bottom: 10px;
}

.post-item:hover {
    transform: scale(1.02);
}


.post-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    padding: 5px;
}


.post-thumbnail-container {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
}

.post-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 15px;
    height: 100%;
}


.post-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;
}


.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 10px 0;
}


.post-meta {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 5px;
}


.post-comments {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

.comment-icon {
    width: 18px;
    height: 18px;
}

.comment-count {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.post-list {
    padding: 0;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;

}
