.profile-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.profile {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.username{
    font-size: 2em;
}

.email{
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 20px;
}

.divider {
    border: none;
    height: 2px;
    background-color: #ddd;
    margin: 20px 0;
}

.my-recipes{
    text-align: left;
    color: #FFDE59;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    margin-left: 8px;
}


.posts h2 {
    text-align: center;
}

.post-list {
    list-style: none;
    padding: 0;
}

.post-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.post-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.2s ease-in-out;
}

.post-item a:hover {
    transform: scale(1.02);
}

.post-title {
    font-size: 16px;
    font-weight: bold;
}


.post-actions {
    display: flex;
    gap: 10px;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    width: 50px;
    text-align: center;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
}

.delete-btn {
    background-color: #FF5733;
    color: white;
}

.not-logged-in h2 {
    color: red;
}

.login-btn {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: #0056b3;
}